--extra-index-url https://download.pytorch.org/whl/cpu

fastapi==0.119.0
Pillow==12.0.0
pydantic==2.12.3
pydantic_settings==2.11.0
pytest==8.4.2
SQLAlchemy==2.0.44
supabase==2.22.0
transformers==4.56.1
uvicorn==0.38.0
psycopg2==2.9.11
python-multipart==0.0.20
torch==2.9.0+cpu
pydantic[email]

# Authentication dependencies
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
